.primary-100 {
  background: var(--Primary-100, #3692ff);
}

.primary-200 {
  background: var(--Primary-200, #1967d6);
}

.primary-300 {
  background: var(--Primary-300, #1251aa);
}
.gray-50 {
  background: var(--Secondary-100, #f9fafb);
}
.gray-100 {
  background: var(--Secondary-200, #f3f4f6);
}
.gray-200 {
  background: var(--Secondary-300, #e5e7eb);
}
.gray-400 {
  background: var(--Secondary-400, #9ca3af);
}
.gray-500 {
  background: var(--Secondary-500, #6b7280);
}
.gray-600 {
  background: var(--Secondary-600, #4b5563);
}
.gray-700 {
  background: var(--Secondary-700, #374151);
}
.gray-800 {
  background: var(--Secondary-800, #1f2937);
}
.gray-900 {
  background: var(--Secondary-900, #111827);
}
.error {
  background: var(--error-red, #f74747);
}
