/*로그인/회원가입 페이지 CSS*/
* {
  box-sizing: border-box;
  text-decoration: none;
}
input:focus {
  border: 1px solid #3692ff;
}
.auth-page {
  max-width: 40rem;
  display: flex;
  margin: 14.4rem auto 17.8rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  flex-shrink: 0;
}

/*#region header 부분 스타일*/
.brand-logo {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.39rem;
  width: 24.75rem;
  height: 8.25rem;
}
.brand-logo img {
  width: 6.47056rem;
  height: 6.4925rem;

  margin: 0.81rem 0 0.95rem 0;
}
.brand-name {
  color: var(--brand-blue, #3692ff);
  font-family: "ROKAF Sans";
  font-size: 4.1465rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding: 1.5em 0.26rem 1.13rem;
}
/*#endregion*/

/*#region 이메일,비밀번호 입력 부분 스타일*/
.auth-form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.form-label {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/2lg-18px-bold */
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
}
.form-input {
  display: flex;
  width: 40rem;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 0.625rem;

  color: var(--Secondary-400, #9ca3af);

  /* pretendard/lg-16px-regular */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */

  flex: 1 0 0;

  border-radius: 0.75rem;
  background: var(--Cool-Gray-100, #f3f4f6);
  border: none;
  outline: none;
}
.password-wrapper {
  position: relative;
  top: 0;
  left: 0;
}
.password-wrapper img {
  position: absolute;
  right: 3%;
  top: 30%;
}
/*#endregion*/

/*#region 로그인버튼 스타일*/
.login-submit {
  display: flex;
  width: 40rem;
  height: 3.5rem;
  padding: 1rem 7.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border: none;
  cursor: pointer;
  border-radius: 2.5rem;
  background: var(--Secondary-400, #9ca3af);

  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;

  /* pretendard/xl-20px-semibold */
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 160% */
}
/*#endregion*/

/*#region 간편로그인 부분 스타일*/
.social-login {
  display: flex;
  width: 40rem;
  height: 4.625rem;
  padding: 1rem 1.4375rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.5rem;
  background: #e6f2ff;

  color: var(--Secondary-800, #1f2937);

  /* pretendard/lg-16px-medium */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

.social-link {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.social-link img {
  width: 2.625rem;
  height: 2.625rem;
}
/*#endregion*/

/*#region 하단 로그인/가입 링크로 연결 부분*/
.auth-helper-link {
  text-align: center;
  color: var(--Secondary-800, #1f2937);

  /* pretendard/md-14px-medium */
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 171.429% */
}
.auth-helper-link a {
  text-decoration: underline;

  color: var(--Primary-100, #3692ff);
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
/*#endregion */
