* {
  box-sizing: border-box;
  font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.header-inner {
  max-width: 1920px;
  height: 70px;
  padding: 9px 200px;
  border-bottom-width: 1px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.main-logo {
  display: flex;
  width: 153px;
  height: 53px;
  background-image: url("images/mainlogo.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
.login-btn {
  display: flex;
  width: 128px;
  height: 48px;
  background-image: url("images/loginbtn.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.main {
  flex: 1;
  margin-top: 70px;
}

.main-inner {
  position: relative;
}

.hero-section {
  /*max-width: 1920px;*/
  height: 540px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.background-img {
  width: 100%;
  height: 540px;
  background-image: url("images/seeingsightbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left-panel {
  width: 357px;
  height: 280px;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 357px;
  margin-top: 350px;
}

.seeing-item {
  display: block;
  width: 357px;
  height: 56px;
  background-image: url("images/btn_large.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 140%;
}

.right-panel {
  position: absolute;
  display: flex;

  width: 746px;
  height: 340px;
  background-image: url("images/Img_home_top.png");
  background-repeat: no-repeat;
  margin-top: 200px;
  margin-left: 746px;
}

.main-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 1920px;
}

.main-bottom-item {
  /*max-width: 1920px;*/
  height: 540px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.left-bottom-panel {
  width: 357px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 357px;
}

.bottom-text {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 140%;
}

.right-bottom-panel {
  position: absolute;
  display: flex;

  width: 746px;
  height: 397px;

  background-image: url("images/Img_home_bottom.png");
  background-repeat: no-repeat;
  margin-bottom: -144px;
  margin-left: 746px;
}

.footer {
  background-color: black;
  color: white;
}

.footer-inner {
  max-width: 1920px;
  height: 160px;
  padding: 32px 200px;
  gap: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.center-footer a {
  text-decoration: none;
  color: inherit;
}

.right-footer a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.facebook-icon {
  background-image: url("images/ic_facebook.png");
}
.twitter-icon {
  background-image: url("images/ic_twitter.png");
}
.youtube-icon {
  background-image: url("images/ic_youtube.png");
}
.instagram-icon {
  background-image: url("images/ic_instagram.png");
}
