* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 9px 200px;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
}

.header-inner {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: #3692ff;
  font-family: "Pretendard Std Variable";
  font-size: 25.633px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.login-btn {
  display: flex;
  border-radius: 8px;
  background: var(--Primary-100, #3692ff);
  width: 128px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Cool-Gray-100, #f3f4f6);
  text-decoration: none;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.hero-section {
  display: flex;
  background: #cfe5ff;
  margin-top: 70px;
  height: 540px;
  justify-content: center;
  align-items: flex-end;
}

.hero-inner {
  display: flex;
  max-width: 1110px;
}

.hero-title {
  color: var(--Secondary-700, #374151);
  font-family: "Pretendard Std Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.hero-text {
  margin-top: 60px;
}
.items-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 57px;
  padding: 16px 124px;
  margin-top: 32px;
  border-radius: 40px;
  background: var(--brand-blue, #3692ff);
  color: var(--Secondary-50, #f9fafb);
  text-align: center;
  font-family: "Pretendard Std Variable";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
}

.Img_home_top {
  max-width: 746px;

  max-height: 540px;
  object-fit: contain;
  margin-left: 10px;
}

.movie-section {
  width: 100%;
  max-width: 1920px;

  margin: 0 auto;
}

.photo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.photo-list img {
  width: 988px;
  height: 444px;
  display: block;
  object-fit: cover;
  margin: 138px 342px;
}

.bottom-section {
  display: flex;
  max-width: 100%;
  height: 540px;
  background: #cfe5ff;
  justify-content: center;
  align-items: flex-end;
  margin-top: 138px;
}
.bottom-inner {
  max-width: 1920px;
  display: flex;
}

.bottom-title {
  color: var(--Secondary-700, #374151);
  font-family: "Pretendard Std Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 150px;
}

.Img_home_bottom {
  margin-left: 69px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 32px 200px;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
}
.footer-nav {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
  text-decoration: none;
}

.footer-nav a {
  color: #e5e7eb;
  text-decoration: none;
}
.footer {
  background: var(--Secondary-900, #111827);
  color: var(--Secondary-400, #9ca3af);
}

.social-icon a {
  text-decoration: none;
}
