* {
  box-sizing: border-box;
  font-family: "Pretendard Std Variable";
  margin: 0;
  padding: 0;
}

a {
  color: var(--gray200);
}

:root {
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo-box {
  width: 153px;
  height: 51px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.logo-box a {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-login {
  display: inline-block;
  display: flex;
  padding: 12px 23px;
  border-radius: 8px;
  background: var(--primary-100);
}

/* main box */

.main-blue {
  width: 100%;
  min-height: 520px;
  padding-bottom: 0;
  background: #cfe5ff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.txt-box1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.main-txt {
  color: var(--gray700);
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}

.btn-look {
  display: flex;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: var(--primary-100);
}

.blue-frame {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.blue-frame img {
  width: 700px;
  height: auto;
  padding-left: 100px;
}

/* main box 2 start */
.main-white {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #fff;
  padding: 100px 0;
}

.white-frame {
  display: flex;
  width: fit-content;
  max-width: 988px;
  justify-content: space-around;
  align-items: center;
  background: #fcfcfc;
  border-radius: 5px;
  margin: 0 auto;
  gap: 20px;
}

.white-frame img {
  width: 60%;
  max-width: 588px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.txt-frame {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.point-txt {
  color: var(--primary-100);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.sub-txt {
  color: var(--gray700);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.box-between {
  margin-top: 138px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--gray900);
}

.footer-container {
  width: 100%;
  max-width: 1920px;
  min-height: 160px;
  padding: 32px 200px;
}

.footer-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.codeit {
  color: var(--gray400);
}

.footer-mid {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.icon-sns {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
