@import "tailwindcss";

@font-face {
  font-family: "ROKAF Sans";
  src: url("/fonts/ROKAF-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-rokaf: "ROKAF Sans", sans-serif;

  --breakpoint-md: 744px;
  --breakpoint-lg: 1200px;

    /* -----------------------------------------------
     Primary Colors
  ----------------------------------------------- */
  --color-primary-100: #3692FF;  /* blue - light */
  --color-primary-200: #1967D6;  /* blue - medium */
  --color-primary-300: #1251AA;  /* blue - dark */

  /* -----------------------------------------------
     Error Color
  ----------------------------------------------- */
  --color-error: #F74747;        /* red */

  /* -----------------------------------------------
     Secondary Colors (Gray Scale)
  ----------------------------------------------- */
  --color-gray-900: #111827;
  --color-gray-800: #1F2937;
  --color-gray-700: #374151;
  --color-gray-600: #4B5563;
  --color-gray-500: #6B7280;
  --color-gray-400: #9CA3AF;
  --color-gray-200: #E5E7EB;
  --color-gray-100: #F3F4F6;
  --color-gray-50:  #F9FAFB;

  
  --font-size-3xl: 32px;
  --line-height-3xl: 42px;
  --font-size-2xl: 24px;
  --line-height-2xl: 32px;
  --font-size-xl: 20px;
  --line-height-xl: 32px;
  --font-size-2lg: 18px;
  --line-height-2lg: 26px;
  --font-size-lg: 16px;
  --line-height-lg: 26px;
  --font-size-md: 14px;
  --line-height-md: 24px;
  --font-size-sm: 13px;
  --line-height-sm: 22px;
  --font-size-xs: 12px;
  --line-height-xs: 20px;
}

body {
  font-family: Pretendard, sans-serif;
}

@layer components {
  .btn_small_40 {
    @apply inline-flex bg-primary-100 h-10 px-5.75 py-3 justify-center items-center gap-2.5 rounded-lg text-lg font-semibold text-white;
  }
   .btn_small_40:disabled {
    @apply bg-gray-400 cursor-not-allowed;
  }
}