@import "tailwindcss";

@font-face {
  font-family: "ROKAF Sans";
  src: url("/fonts/ROKAF-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-rokaf: "ROKAF Sans", sans-serif;

  --breakpoint-md: 744px;
  --breakpoint-lg: 1200px;

  /* -----------------------------------------------
     Primary Colors
  ----------------------------------------------- */
  --color-primary-100: #3692ff; /* blue - light */
  --color-primary-200: #1967d6; /* blue - medium */
  --color-primary-300: #1251aa; /* blue - dark */

  /* -----------------------------------------------
     Error Color
  ----------------------------------------------- */
  --color-error: #f74747; /* red */

  /* -----------------------------------------------
     Secondary Colors (Gray Scale)
  ----------------------------------------------- */
  --color-gray-900: #111827;
  --color-gray-800: #1f2937;
  --color-gray-700: #374151;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-200: #e5e7eb;
  --color-gray-100: #f3f4f6;
  --color-gray-50: #f9fafb;

  --font-size-3xl: 32px;
  --line-height-3xl: 42px;
  --font-size-2xl: 24px;
  --line-height-2xl: 32px;
  --font-size-xl: 20px;
  --line-height-xl: 32px;
  --font-size-2lg: 18px;
  --line-height-2lg: 26px;
  --font-size-lg: 16px;
  --line-height-lg: 26px;
  --font-size-md: 14px;
  --line-height-md: 24px;
  --font-size-sm: 13px;
  --line-height-sm: 22px;
  --font-size-xs: 12px;
  --line-height-xs: 20px;
}

body {
  font-family: Pretendard, sans-serif;
}

@layer components {
  .btn_small_40 {
    @apply bg-primary-100 inline-flex h-10 items-center justify-center gap-2.5 rounded-lg px-5.75 py-3 text-lg font-semibold text-white;
  }
  .btn_small_40:disabled {
    @apply cursor-not-allowed bg-gray-400;
  }
}
